# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.cmake
*.make
*.internal
*.includecache
*.log

CMakeCache.txt

bin/*

*.pyc